<!DOCTYPE html>
<html ng-app="App">
	<head>
		<title>TodoX</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- FontAwesome CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<!-- TodoX CSS -->
		<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
	</head>
	<body>
		 <%- include('partials/nav'); %>
		<br/>
		<!-- Start Page Content Below -->
		<div class="container">
			<div class="row">
				<h2 class="login-register"><i class="fa fa-sign-in fa-lg"></i>Login</h2>
				<div class="col-md-5">
					<hr/>
					<% if (message.length > 0) { %>
						<div class="alert alert-danger"><%= message %></div>
					<% } %>
					<form action="/login" method="post" class="form-group">
						Email: <input type="text" name="email" placeholder="Enter your email" class="form-control"/><br/>
						Password: <input type="password" name="password" placeholder="Enter your password" class="form-control"/><br/>
						<button type="submit" class="btn btn-success">Login</button>
						If you don't have an account, <a href="/register">Register</a> here!
					</form>
				</div>
				<%- include('partials/foot'); %>
			</div>
		</div>
		
		<!-- Angular JS -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<!-- TodoX Core JS -->
		<script type="text/javascript" src="/controllers/core.js"></script>
	</body>
</html>